# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\intern-t678\FE-EXAMPLE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
